.row
  .col-md-5
    = link_to 'Home', root_path, class: 'btn btn-default'
  .col-md-3
    %h3
      Complex Search
.row
  .col-md-6
    = render 'search_links_head'
.row
  = simple_form_for @post_search, url: polymorphic_path([:by_complex_search, controller.controller_name]), method: :get, html: {class: 'form-inline'} do |f|
    = f.input_field :title, placeholder: 'Title'
    = f.input_field :category_id, collection: @categories, include_blank: 'Select a Category ...'
    = f.input_field :media_type, collection: Post::MediaType, prompt: 'Select a Media Type ...'
    = f.input_field :tag, placeholder: 'Tag'
    = f.input_field :user_id, collection: User.all, label_method: :email, value_method: :id, include_blank: 'Select a User Email...'
    = f.button :submit

#posts_list
  = render partial: 'posts_list', :posts => @posts
= will_paginate @posts
