%table.table.table-hover
  %thead
    %tr
      %th= t 'yelp.name'
      %th= t 'yelp.genre'
      %th= t 'yelp.rating'
      %th= t 'yelp.phone_number'
      %th= t 'yelp.address'
      %th= t 'yelp.city'
      %th= t 'yelp.zipcode'
  - @yelps.each_with_index do |y, i|
    %tbody
      %tr
        %td.col-md-2= link_to "#{y.name}", y.url
        %td.col-md-3= y.genre
        %td.col-md-1= y.rating
        %td.col-md-2= y.phone_num
        %td.col-md-2= y.address
        %td= y.updated_at
        %td.col-md-1= y.city
        %td.col-md-1= y.zipcode
= will_paginate @yelps       