.row
  - if job_running? current_job_id

    = link_to "Refresh", yelp_regrab_path, class: 'btn btn-info col-md-1', id: 'refresh', disabled: true
    %h4.col-md-11 Grab job is already running. If you want to re-grab, just waite few minutes and refresh the page.

  - else
    = link_to "Refresh", yelp_regrab_path, class: 'btn btn-info col-md-1', id: 'refresh'

%table.table.table-hover
  %thead
    %tr
      %th= t 'yelp.name'
      %th= t 'yelp.genre'
      %th= t 'yelp.rating'
      %th= t 'yelp.phone_number'
      %th= t 'yelp.address'
      %th= t 'yelp.city'
      %th= t 'yelp.zipcode'
  - @yelps.each_with_index do |y, i|
    %tbody
      %tr
        %td.col-md-2= link_to "#{y.name}", y.url
        %td.col-md-3= y.genre
        %td.col-md-1= y.rating
        %td.col-md-2= y.phone_num
        %td.col-md-2= y.address
        
        / %td= y.phone_num
        /%td= y.yelp_id
        %td= y.updated_at

        /%td.col-md-2= timeago_tag Time.zone.now, :nojs => true
        %td.col-md-1= y.city
        %td.col-md-1= y.zipcode
        /%td= y.street
        
        / %td= y.genre
= will_paginate @yelps       

:javascript
  $('#refresh').click(function(){
    myVar = setInterval(function(){
      $.ajax({
        url: "/yelp/check_job_status",
        type: "GET",
      }).done(function(msg){
        if(msg == true){
          clearInterval(myVar);
          location.reload();
        }
      });
    }, 1000);
  })