= link_to 'Sales Tool', sales_tools_path, class: 'btn btn-primary'
= link_to 'Experience Share', expshare_posts_path, class: 'btn btn-primary'
= link_to 'Activities', activity_posts_path, class: 'btn btn-primary'
= link_to 'Global Foods', globalfood_posts_path, class: 'btn btn-primary'
= link_to 'Meeting Records', meetingrecord_posts_path, class: 'btn btn-primary'
= link_to 'Evaluations', evaluation_posts_path, class: 'btn btn-primary'
