= link_to 'Home', root_path, class: 'btn btn-default'
= link_to I18n.t('board.sales_tools'), sales_tools_path, class: 'btn btn-default'
= link_to I18n.t('board.experience_share'), expshare_posts_path, class: 'btn btn-default'
= link_to I18n.t('board.activities'), activity_posts_path, class: 'btn btn-default'
= link_to I18n.t('board.global_foods'), globalfood_posts_path, class: 'btn btn-default'
= link_to I18n.t('board.meeting_records'), meetingrecord_posts_path, class: 'btn btn-default'
= link_to I18n.t('board.evaluations'), evaluation_posts_path, class: 'btn btn-default'
