<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="exampleModalLabel">New Post</h4>
      </div>
      <%= simple_form_for [@category, @post] do |f| %>
        <div class="modal-body">
          <%= f.input :title, input_html: { maxlength: 50} %>
          <%= f.input :content, input_html: { maxlength: 1000 } %>
          <%= f.input :media_type, collection: Post::MediaType, prompt: 'Select a media type...' %>
          <%= f.input :image, multiple: true, name: 'post[image]', data: { url: [@category, @post] } %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.button :submit, 'Submit' %>
        </div>
      <% end %>
    </div>
  </div>
</div>