-@posts.try(:each) do |post|
  .row
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          = post.title
          - if post.user == current_user
            .align-right
              = link_to 'Edit', edit_post_path(post), remote: true, data: { toggle: "modal", target: "#postModal" }
              = link_to 'Delete', post_path(post), method: :delete, data: { confirm: 'Are you sure?' }
          %span.col-md-offset-4
            Category:
            = post.category.try(:name)
          %span
            Author:
            = post.user.try(:email)
          %span
            Updated Time
            = post.updated_at
      .panel-body
        = post.content
        = render partial: 'upload_files', locals: { upload_files: post.upload_files }
      .panel-footer
        %span Media Type:
        = link_to post.media_type, '#'
        .align-right
          %span Tags:
          = raw post.tag_list.map{|t| link_to t, by_tag_posts_path(tag: t)}.join(', ')


