<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h4 class="modal-title" id="exampleModalLabel"><%= @post.try(:title) || "New Post" %></h4>
</div>
<div class="modal-body">
  <%= simple_form_for UploadFile.new, remote: true do |f| %>
    <%= f.input :image %>
    <%= f.button :submit, 'Upload File' %>
  <% end %>
</div>
<%= render partial: 'shared/new_upload_files', locals: { upload_files: @post.try(:upload_files) } %>
<%= simple_form_for @post, html: {id: 'post_form'} do |f| %>
  <div class="modal-body">
    <%= f.input :title, input_html: { maxlength: 50} %>
    <%= f.association :category, label_method: :name, value_method: :id, prompt: 'Select a category' %>
    <%= f.input :content, input_html: { maxlength: 1000 } %>
    <%= f.input :media_type, collection: Post::MediaType, prompt: 'Select a media type...' %>
    <%= f.input :tag_list, input_html: { value: @post.tag_list.try(:join, ', ') } %>(separated by commas)
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <%= f.button :submit, 'Submit' %>
  </div>
<% end %>