%table.table.table-hover
  %thead
    %tr
      %th Title 
      %th Content
      %th Category
      %th Author
      %th Updated Time
      %th Media Type
      %th Tags
  - @posts.each_with_index do |post,i|  
    %tbody
      %tr  
        %td= post.title
        %td= post.content
				- if post.category
					%td= link_to post.category.try(:name), polymorphic_path([:by_category, post.class], category: post.category.try(:name) || '')
				- else

					- end
        %td= link_to post.user.try(:email), polymorphic_path([:by_username, post.class], username: post.user.try(:email))
        %td= post.updated_at
        %td= link_to post.media_type, polymorphic_path([:by_media_type, post.class], media_type: post.media_type || '')
        %td= raw post.tag_list.map{|t| link_to t, polymorphic_path([:by_tag, post.class], tag: t)}.join(', ')








