%ol.breadcrumb
  Search by
  %li
    = link_to 'Category', polymorphic_path([:by_category, controller.controller_name], category: 'all')
  %li
    = link_to 'Tag', polymorphic_path([:by_tag, controller.controller_name], tag: 'all')
  %li
    = link_to 'Media Type', polymorphic_path([:by_media_type, controller.controller_name], media_type: 'all')
  %li
    = link_to 'Username', polymorphic_path([:by_username, controller.controller_name], username: 'all')
  %li
    = link_to 'Complex Condition', polymorphic_path([:by_complex_search, controller.controller_name])
