%ul.nav.nav-sidebar
  = link_to t("board.clear_search"), polymorphic_path([:clear, controller.controller_name]), class: "btn btn-warning btn-sm"
  %h4
    %b= t("board.user")
  .option-group
    - User.all.each do |user|
      %li
      - if current_user.tmp_params[:user_id].to_i == user.id 
        = link_to user.email, polymorphic_path(current_controller, 'post_search[user_id]' => user.id ), class: "active"
      - else
        = link_to user.email, polymorphic_path(current_controller, 'post_search[user_id]' => user.id )
  %h4
    %b= t("board.tags")
  .option-group
    %li
      - model_name.tag_counts.each do |tag|
        = content_tag :span do
          - if current_user.tmp_params[:tag] == tag.name
            = link_to tag.name, polymorphic_path(current_controller, 'post_search[tag]' => tag.name), class: "active"
          - else
            = link_to tag.name, polymorphic_path(current_controller, 'post_search[tag]' => tag.name)
