= render 'new_post'
= render 'edit_post'
.row
  .col-md-6
    %h3= @category.name
  .col-md-6
    = button_tag 'New Post', class: "btn btn-primary align-right", data: { toggle: "modal", target: "#newPostModal", whatever: "@mdo" }

-@posts.each do |post|
  .row
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          = post.title
          = link_to 'Edit', edit_category_post_path(id: post.id), remote: true, data: { toggle: "modal", target: "#editPostModal" }, class: 'align-right' if post.user == current_user
      .panel-body
        = post.content
        = render partial: 'upload_files', locals: { upload_files: post.upload_files }
      .panel-footer
        = post.media_type


