.row
  .btn-group.btn-group-justified
    - Category.find_each do |category|
      .btn-group
        - if current_user.tmp_params["category_id"].to_i == category.id 
          = link_to category.name, polymorphic_path(controller.controller_name, 'post_search[category_id]' => category.id), class: 'btn btn-default active'
        - else
          = link_to category.name, polymorphic_path(controller.controller_name, 'post_search[category_id]' => category.id), class: 'btn btn-default'
.row.normal-row
  .col-md-6
    = link_to 'New Post', "/#{controller.controller_name}/new", class: "btn btn-primary"
    = link_to 'Clear search', 'clear', class: "btn btn-warning"

.row.normal-row
  .col-sm-3.col-md-2.sidebar
    = render 'sidebar'

  .col-md-10
    #posts_list
      = render partial: 'post', :posts => @posts
  = will_paginate @posts

