.row
  .col-md-5
    = link_to 'Home', root_path, class: 'btn btn-default'
  .col-md-3
    %h3= I18n.t("board.#{controller.controller_name}")


.row.normal-row
  .btn-group.btn-group-justified
    - @categories.each do |category|
      .btn-group
        - if current_user.tmp_params["category_id"].to_i == category.id 
          = link_to category.name, polymorphic_path(controller.controller_name, 'post_search[category_id]' => category.id), class: 'btn btn-primary active'
        - else
          = link_to category.name, polymorphic_path(controller.controller_name, 'post_search[category_id]' => category.id), class: 'btn btn-primary'
.row.normal-row
  .col-md-6
    = link_to t("board.new_post"), "/#{controller.controller_name}/new", class: "btn btn-primary"
  .align-right
    = link_to 'Search Tools', polymorphic_path([:by_complex_search, controller.controller_name]), class: 'btn btn-primary'

.row.normal-row
  .col-sm-3.col-md-2.sidebar
    = render 'sidebar'

  .col-md-10
    #posts_list
      = render partial: 'posts_list', :posts => @posts
      = will_paginate @posts, renderer: BootstrapPagination::Rails

