.jumbotron.row
  .col-md-8.col-md-offset-2
    %h1.col-md-offset-4
      = @post.title
    %ul.list-group
      - if @post.category.present?
        %li.list-group-item
          .label.label-info=t("board.category")
          = @post.category.try(:name)
      %li.list-group-item
        %span.label.label-info=t("board.content")
        = @post.content
      %li.list-group-item
        %span.label.label-info=t("board.tags")
        = @post.tag_list
      - if @post.media_type.present?
        %li.list-group-item
          %span.label.label-info=t("board.media_type")
          = @post.media_type
      %li.list-group-item
        .label.label-info=t("board.updated_at")
        = @post.updated_at
      %li.list-group-item
        %span.label.label-info=t("board.author_name")
        = @post.user.try(:username) || @post.user.try(:email)
      %li.list-group-item
        %span.label.label-info=t("board.files")
        = render partial: 'posts/upload_files', locals: { upload_files: @post.upload_files }

